body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.downlink > p {
    margin-left: 3%;
}

.bodyheader {
    padding: 0 0 10px 2%;
    margin: 20px 0 10px;
}

.bodyheader2 {
    padding-left: 1%;
}

.btn-bodyheader {
    padding-left: 4%;
}

.navbar-nav {
    margin-left: 4%;
}

.navbar-nav.navbar-right:last-child {
    margin-left: 0 !important;
}

.blur,
.inner-wrapper {
    position: absolute;
    width: 100%;
    height: 520px;
}

.inner-wrapper {
    z-index: 100;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,.5);
}

.jumbotron {
    height: 500px !important;
    position: relative;
    padding: 0 0 0 0 !important;
}

.blur {
    z-index: 99;
    background-image: url("Export.jpg") !important;
    border-radius: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;   
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
}

.inner-wrapper > h1 {
    padding-top: 190px;
    z-index: 100;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 3px 3px 3px #0e1835;
    filter: none;
}
