body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.downlink >p {
    margin-left: 3%;
}
.bodyheader {
    padding: 0 0 10px 2%;
    margin: 20px 0 10px;
}
.bodyheader2{
    padding-left: 1%;
}
.btn-bodyheader{
    padding-left:4%;
}
.navbar-nav{
    margin-left: 4%;
}