@model IList<string>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>User roles</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li><p>@item</p></li>
        }
    </ul>
</div>
