@model ExportsOfGoods.Models.Country

@{
    ViewBag.Title = "Удаление";
}

<h2 class="bodyheader">Страны</h2>

<h3 class="bodyheader2">Удаление</h3>
<div>
    <h4>Вы действительно хотите удалить эту запись?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списк", "Index")
        </div>
    }
</div>
