@model ExportsOfGoods.Models.Country

@{
    ViewBag.Title = "Подробнее";
}

<h2 class="bodyheader">Страны</h2>

<div>
    <h4 class="bodyheader2">Подробнее</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактирование", "Edit", new { id = Model.CountryId }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
